<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pawnshop Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/topnav :: navbar}"></div>
<br>

<div class="container">
    <div class="col-lg-6 container justify-content-center card">
        <h2 class="text-center">Add New Pawn Transaction</h2>
        <div class="card-body">
            <form th:action="@{/pawnTransactions}" th:object="${pawnTransaction}" method="POST">
                <!-- Display error message -->
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>

                <div class="form-group">
                    <label>Customer ID</label>
                    <input type="number" min="1" name="customer-id" required="required" th:field="*{customerId}"
                           class="form-control" placeholder="Customer ID">
                </div>

                <div class="form-group">
                    <label>Item ID</label>
                    <input type="number" min="1" name="item-id" required="required" th:field="*{itemId}"
                           class="form-control"
                           placeholder="Item ID">
                </div>

                <div class="form-group">
                    <label>Pawnbroker ID</label>
                    <input type="number" min="1" name="pawnbroker-id" required="required" th:field="*{pawnbrokerId}"
                           class="form-control" placeholder="Pawnbroker ID">
                </div>

                <div class="form-group">
                    <label>Pawn Amount</label>
                    <input type="number" min="1" step=".01" name="pawnAmount" required="required"
                           th:field="*{pawnAmount}" class="form-control" placeholder="Pawn Amount">
                </div>

                <div class="form-group">
                    <label>Interest Rate</label>
                    <input type="number" min="20" max="100" name="interestRate" required="required"
                           th:field="*{interestRate}" class="form-control" placeholder="Interest Rate">
                </div>

                <div class="form-group">
                    <label>Monthly Period</label>
                    <input type="number" min="1" max="10" name="monthlyPeriod" required="required"
                           th:field="*{monthlyPeriod}" class="form-control" placeholder="Monthly Period">
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>