<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pawnshop Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/topnav :: navbar}"></div>

<div class="container">
    <h1>Pawn Transactions List</h1>

    <div class="col-lg-6">
        <a th:href="@{pawnTransactions/add}" class="btn btn-outline-primary mb-3">Add Pawn Transaction</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Customer ID</th>
            <th>Item ID</th>
            <th>Pawnbroker ID</th>
            <th>Pawn Amount</th>
            <th>Interest Rate</th>
            <th>Monthly Period</th>
            <th>Repayment Amount</th>
            <th>Pawn Date</th>
            <th>Expiration Date</th>
            <th>Transaction Status</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="pawnTransaction : ${pawnTransactions}">
            <td th:text="${pawnTransaction.transactionId}"></td>
            <td>
                <a th:href="@{/customers?id={customerId}(customerId=${pawnTransaction.customerId})}">
                    <span th:text="${pawnTransaction.customerId}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/items?id={itemId}(itemId=${pawnTransaction.itemId})}">
                    <span th:text="${pawnTransaction.itemId}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/pawnbrokers?id={pawnbrokerId}(pawnbrokerId=${pawnTransaction.pawnbrokerId})}">
                    <span th:text="${pawnTransaction.pawnbrokerId}"></span>
                </a>
            </td>
            <td th:text="${pawnTransaction.pawnAmount}"></td>
            <td th:text="${pawnTransaction.interestRate}"></td>
            <td th:text="${pawnTransaction.monthlyPeriod}"></td>
            <td th:text="${pawnTransaction.repaymentAmount}"></td>
            <td th:text="${pawnTransaction.pawnDate}"></td>
            <td th:text="${pawnTransaction.expirationDate}"></td>
            <td th:text="${pawnTransaction.transactionStatus}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>