<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pawnshop Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/topnav :: navbar}"></div>
<br>

<div class="container">
    <div class="col-lg-6 container justify-content-center card">
        <h1 class="text-center">Update Item</h1>
        <div class="card-body">
            <form th:action="@{/items/{itemId}(itemId=${item.itemId})}" th:object="${item}" method="POST">
                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text" maxlength="50" name="item-name" required="required" th:field="*{itemName}"
                           class="form-control" placeholder="Name">
                </div>

                <div class="form-group">
                    <label>Item Category</label>
                    <select name="item-category-id" required="required" th:field="*{itemCategoryId}" class="form-control">
                        <option th:each="category : ${itemCategories}" th:value="${category.itemCategoryId}"
                                th:text="${category.itemCategoryName}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Item Appraised Value</label>
                    <input type="number" min="1" step=".01" name="appraised-value" required="required"
                           th:field="*{appraisedValue}" class="form-control" placeholder="Appraised Value">
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>