<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pawnshop Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/topnav :: navbar}"></div>
<br>

<div class="container">
    <div class="col-lg-6 container justify-content-center card">
        <h1 class="text-center">Update Pawnbroker</h1>
        <div class="card-body">
            <form th:action="@{/pawnbrokers/{pawnbrokerId}(pawnbrokerId=${pawnbrokerForm.pawnbrokerId})}"
                  th:object="${pawnbrokerForm}" method="POST">
                <!-- Display error message -->
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>

                <div class="form-group">
                    <label>Pawnbroker First Name</label>
                    <input type="text" name="first-name" required="required" pattern="[A-Za-z]{2,50}"
                           th:field="*{firstName}" class="form-control" placeholder="First name">
                </div>

                <div class="form-group">
                    <label>Pawnbroker Last Name</label>
                    <input type="text" name="last-name" required="required" pattern="[A-Za-z]{2,50}"
                           th:field="*{lastName}" class="form-control" placeholder="Last name">
                </div>

                <div class="form-group">
                    <label>Pawnbroker Birthdate</label>
                    <input type="date" name="birthdate" required="required" th:value="*{birthdate}" class="form-control"
                           placeholder="Birthdate">
                </div>

                <div class="form-group">
                    <label>Pawnbroker Contact Number</label>
                    <input type="text" name="contact-number" required="required" pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$"
                           th:field="*{contactNumber}" class="form-control" placeholder="Contact number">
                </div>

                <div class="form-group">
                    <label>Pawnbroker Email</label>
                    <input type="text" name="email" required="required" pattern="^[a-zA-Z0-9._]+@[a-z]+\.[a-z]{2,4}$"
                           th:field="*{email}" class="form-control" placeholder="Email">
                </div>

                <div class="form-group">
                    <label>Pawnbroker Address</label>
                    <input type="text" maxlength="100" name="address" required="required" th:field="*{address}"
                           class="form-control" placeholder="Address">
                </div>

                <div class="form-group">
                    <label>Pawnbroker Specializations</label>
                    <select name="specializationIds" required="required" th:field="*{specializationIds}" class="form-control" multiple="multiple">
                        <option th:each="category : ${itemCategories}" th:value="${category.itemCategoryId}" th:text="${category.itemCategoryName}"></option>
                    </select>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>