<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pawnshop Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/topnav :: navbar}"></div>

<div class="container">
    <h1>Item Categories List</h1>

    <div class="col-lg-6">
        <a th:href="@{itemCategories/add}" class="btn btn-outline-primary mb-3">Add Item Category</a>
    </div>

    <!-- Display error message -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Active Pawnbrokers IDs</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="itemCategory : ${itemCategories}">
            <td th:text="${itemCategory.itemCategoryId}"></td>
            <td th:text="${itemCategory.itemCategoryName}"></td>
            <td>
                <div th:with="pawnbrokers=${itemCategory.activePawnbrokers}">
                    <span th:each="pawnbroker, iterStat : ${pawnbrokers}">
                        <a th:href="@{/pawnbrokers?id={pawnbrokerId}(pawnbrokerId=${pawnbroker.pawnbrokerId})}"
                           th:text="${pawnbroker.pawnbrokerId}"></a>
                        <span th:if="${!iterStat.last}">,</span>
                    </span>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/itemCategories/edit/{itemCategoryId}(itemCategoryId=${itemCategory.itemCategoryId})}"
                       class="btn btn-info">Update</a>
                    <a th:href="@{/itemCategories/{itemCategoryId}(itemCategoryId=${itemCategory.itemCategoryId})}"
                       class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>