<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pawnshop Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand disabled" href="#">Pawnshop Management System</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customers}">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pawnbrokers}">Pawnbrokers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/items}">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/itemCategories}">Item Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/repayments}">Repayments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/paymentMethods}">Payment Methods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pawnTransactions}">Pawn Transactions</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Payment Methods List</h1>

        <div class="col-lg-6">
            <a th:href = "@{paymentMethods/add}" class = "btn btn-outline-primary mb-3">Add Payment Method</a>
        </div>

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="paymentMethod : ${paymentMethods}">
                <td th:text="${paymentMethod.paymentMethodId}"></td>
                <td th:text="${paymentMethod.paymentMethodName}"></td>
                <td>
                    <a th:href = "@{/paymentMethods/edit/{paymentMethodId}(paymentMethodId=${paymentMethod.paymentMethodId})}" class = "btn btn-info">Update</a>
                    <a th:href = "@{/paymentMethods/{paymentMethodId}(paymentMethodId=${paymentMethod.paymentMethodId})}" class = "btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>